{{ define "main" }}
    <main>
    <h1>{{ .Title }}</h1>
    <span style="font-size:9pt">
        {{ trim .File.Dir "/" }}
        (<a style="text-decoration: none;" href="https://github.com/mahdix/exampledriven.com/edit/master/content/{{ .File.Path }}">Edit this page</a>
        ,&nbsp;
        <a style="text-decoration: none;" href="https://github.com/mahdix/exampledriven.com/new/master/content/{{ .File.Dir }}">Add new sub-page</a>)
    </span>
    {{ .Content }}
    <ul class="contents">
        {{ range .Data.Pages }}
          {{ if eq .File.Dir $.File.Dir }}
            <li><a href="{{.Permalink}}">{{.Title}}</a></li>
          {{ end }}
        {{ end }}
    </ul>
    </main>
{{ end }}
